<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Word Frequency Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <br />
    <div class="container w-25">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Word Frequency Counter</h2>
        </div>
        <div class="panel-body">
          <form method="post">
            <div class="form-group">
              <textarea
                class="form-control"
                id="text_input"
                name="text_input"
                rows="5"
                placeholder="Enter your text here..."
              ></textarea>
              <br />
              <input class="btn btn-light" type="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <br />

    {% if result is defined and result|length %}
    <div class="container">
      <br />
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Your Text has {{ result|length }} Words</h3>
        </div>
        <div class="panel-body">
          <table id="word_list" class="display">
            <thead>
              <tr>
                <th>Word</th>
                <th>Number of Occurrences</th>
              </tr>
            </thead>
            <tbody>
              {%- for word, count in result recursive %}
              <tr>
                <td>{{ word }}</td>
                <td>{{ count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css"
  />
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"
  ></script>
  <script>
    $(document).ready(function () {
      $("#word_list").DataTable({ paging: false, searching: false });
    });
    $("textarea").autoResize();
  </script>
</html>
